* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1d1b1b;
}
.container-full {
  width: 100%;
}
.container {
  width: 650px;
  margin: auto;
  margin-top: 70px;

  border-radius: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.accordion {
  margin-bottom: 10px;
}

.accordion .acc-heading {
  background-color: #4d4a4a;
  border-radius: 8px 8px 0px 0px;
  color: #fff;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.accordion .acc-heading::after {
  content: "\002B";
  font-size: 35px;
  position: absolute;
  right: 19px;
  top: 8px;
  cursor: pointer;
}
.active::after {
  content: "\2212" !important;
}
.accordion .acc-content {
  padding: 10px;
  color: #fff;
  display: none;
  border: 3px solid #4d4a4a;
  border-top: none;
}
